@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../public/photos/pattern-dark-texture-black-wallpaper-preview.jpeg");
    background-color: #cccccc;
    background-position: center;
    color: white;
  /* background-color: #484749;
  color: white; */
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.single_list {
  padding: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single_list:hover {
  cursor: pointer;
}

.card-button {
  margin: 5px
}

.delete {
  margin-left: 50px;
}

ul > li {
  display: inline-block;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link:hover {
  cursor: pointer;
  color: rgb(148, 148, 148);
}

.card {
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.105);
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 20px rgb(124, 124, 124)
}
.img {
  border-radius: 50px;
}

.btn {
  border-radius: 50px;
}

.profile {
  margin-top: 20px;
}

.search {
  margin-top: 20px;
  width: 200px;
}

h6 {
  margin-left: 10px;
  margin-top: 6px;
  color: gray;
  font-size: 20px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.336);
}
